<div class="title">
  <h4>タスク編集画面</h4>
</div>

<div class= "container" >
  <div class="row">
    <div class="col-md-4">
      <div class="task-new-edit">
        <%= form_with model: @task, local: true do |f| %>
          <div class="form-group">
            <%= f.label :title, "タイトル" %>
            <%= f.text_field :title, class: "form-control" %>
          </div>
          <div class="form-group">
            <%= f.label :details, "詳細" %>
            <%= f.text_area :details, class: "form-control" %>
          </div>
          <div class="form-group">
            <%= f.label :start_date, "開始日" %>
            <%= f.date_field :start_date %>
          </div>
          <div class="form-group">
            <%= f.label :end_date, "終了日" %>
            <%= f.date_field :end_date %>
          </div>
          <div class="form-group">
            <%= f.label :remind_at, "リマインド" %>
            <%= f.date_field :remind_at %>
          </div>
          <div class="form-group">
            <%= f.label :priority, "優先度" %>
            <%= f.select :priority, options_for_select(Task.priorities.keys),{include_blank: "" } %>
          </div>
          <div class="form-group">
            <%= f.label :status, "進捗状況" %>
            <%= f.select :status, options_for_select(Task.statuses.keys), {include_blank: "" } %>
          </div>
         <!--戻るボタン-->
          <%= link_to tasks_path, class: "btn-style-delete" do %>
            <i class="fas fa-backward fa-1x"></i>
            <h7>戻る</h7>
          <% end %>
          <span>&nbsp;</span>
          <%= f.submit "更新", class: "btn btn-success btn-sm" %>
        <% end %>
      </div>
    </div>
  </div>
</div>
<br>
<br>
<br>
<br>