<% if user_signed_in? %>
  <%= form_with(url: seek_path, method: :get, local: true) do |f| %>
    <%= f.text_field :word %>
    <%= f.select :seek,[["完全一致","perfect_much"],["前方一致","forward_mach"],["後方一致","backward_mach"],["部分一致","pertical_mach"]] %>
    <%= f.select :priority, options_for_select(Task.priorities.keys),{include_blank: "優先度" } %>
    <%= f.select :status, options_for_select(Task.statuses.keys), {include_blank: "進捗状況" } %>
    <%= f.submit '検索'  %>
  <% end %>
<% end %>
<div class="title">
  <h4>マイタスク</h4>
</div>
  <div class= "new-buttom">
    <%= link_to new_task_path do %><i class="far fa-plus-square fa-3x"></i><% end %>
  </div>

<div class="container">
  <div class="row">
    <div class="col-md-12 text-center">
      <table class="table table-hover table-inverse">
        <thead>
          <tr>
            <th width= "200px">タイトル</th>
            <th width= "130px">優先度</th>
            <th width= "130px">進捗状況</th>
            <th width= "220px">期間</th>
          </tr>
        </thead>
        <tbody>
          <% @tasks.each do |task| %>

            <tr>
              <td>
              　<strong><%= link_to task.title, task_path(task.id) %></strong>
              </td>
              <td><%= task.priority %></td>
              <td><%= task.status %></td>
              <td><%= "#{task.start_date}" + "～" + "#{task.end_date}" %></td>

              <% if task.user == current_user %>
                <!--　編集画面へ遷移するボタン-->
                <td width="70px"><%= link_to edit_task_path(task.id) do %><i class="fas fa-edit fa-2x"></i><% end %></td>
                <!--　削除するボタン-->
                <td width="70px"><%= link_to task_path(task), method: :delete, data: { confirm: '本当に消しますか？' } do %>
                  <i class="fas fa-trash-alt fa-2x"></i><% end %>
                </td>
                  <!--<i class="far fa-trash-alt mx-2" style="color: gray;"></i>-->
              	<!--< % end %>-->
            	<% end %>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>

