<div class="container">
  <div class="row">
    <div class="col-mg-3">
      <div class="task-t">
        <h4>タスク</h4>
      </div>
        <div class= "update-buttom">
          <!--< %= link_to tasks_path do %><i class="fas fa-redo-alt fa-2x"></i>< % end %>-->
          <%= link_to tasks_path do %>
            <i>タスクをドラッグ＆ドロップをするときは<br>
              <i class="text-danger">この文</i>を押してからページを更新してください。<br>
              順番が保存されます。</i>
          <% end %>
          <!--<div class="update-memo"><h5>並び替えを保存したい時は押してください。</h5></div>-->
        </div>
    </div>
    <!--<div class="col-xs-6 col-sm-6 col-mg-6">-->
    <div class="col-mg-3 ml-auto my-4">
      <div class="task-seek">
        <% if user_signed_in? %>
          <%= form_with(url: seek_path, method: :get, local: true) do |f| %>
            <%= f.text_field :word %>
            <%= f.select :seek,[["完全一致","perfect_much"],["前方一致","forward_mach"],["後方一致","backward_mach"],["部分一致","pertical_mach"]] %>
            <%= f.select :priority, options_for_select(Task.priorities.keys),{include_blank: "優先度" } %>
            <%= f.select :status, options_for_select(Task.statuses.keys), {include_blank: "進捗状況" } %>
            <%= f.submit '検索'  %>
          <% end %>
        <% end %>
      </div>
      <div class="task-seek my-3">
        <%= form_with model: @tasks, url: tasks_path, method: :get, local: true do |form| %>
          <%= form.select :keyword, sort_form(@sort) %>
          <%= form.submit "実行" %>
        <% end %>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="offset-md-1 col-md-10 text-right">
      <%= link_to new_task_path do %><i class="far fa-plus-square fa-2x"></i>
        <h7>タスク追加</h7>
      <% end %>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="offset-md-1 col-md-10">
      <table class="table-sortable table table-hover table-inverse text-center">
      <h6>タスク数 : <%= @tasks.count %><i class="fas fa-thumbtack px-2"></i></h6>
        <thead>
          <tr>
            <th width= "500px">タイトル</th>
            <th width= "200px">優先度</th>
            <th width= "200px">進捗状況</th>
            <th width= "500px">期間</th>
            <th width= "500px"></th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <% @tasks.each do |task| %>
             <!--<tr>-->
            <tr class="item" data-model_name="<%= task_sort_path(task) %>">
            <!--<#%= content_tag "tr", class: "item", data: { model_name: task.class.name.underscore, update_url: task_sort_path(task)} do %>-->
              <div class="task-font">
                <td>
                　<strong><%= link_to task.title, task_path(task.id) %></strong>
                </td>
                <td><%= task.priority %></td>
                <td><%= task.status %></td>
                <td><%= "#{task.start_date}" + "～" + "#{task.end_date}" %></td>
              </div>
              <% if task.user == current_user %>
                <!--　編集画面へ遷移するボタン-->
                <td width="250px">
                  <%= link_to edit_task_path(task.id) do %>
                    <i class="fas fa-edit fa-1x"></i>
                    <h7>編集</h7>
                  <% end %>
                  <!--　削除するボタン-->
                  <span>&nbsp;</span>
                  <%= link_to task_path(task), method: :delete, data: { confirm: '本当に消しますか？' } do %>
                    <h7 style="color: #e65050;">削除</h7>
                    <i class="fas fa-trash-alt fa-1x"></i>
                  <% end %>
                </td>
            	<% end %>
            	</tr>
            <%# end %>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
<div>