<div class="title">
  <h4>ラベル一覧</h4>
</div>
<div class="container">
  <div class="row">
    <div class="offset-md-4 col-md-4 text-center">
      <!--#タグリスト-->
      <% @label_list.each do |list| %>
        <span>
          <%= link_to list.label_name, label_tasks_path(list.id) %>
          <%= "(#{list.tasks.count})" %>
        </span>
      <% end %>
      <br>
      <br>
      <!--#タグによって絞り込んだ投稿一覧-->
      <%= "ラベルが ─ "%><%= @label.label_name %><%= " ─ の投稿一覧" %>
      <br>
      <br>
      <% @tasks.each do |task| %>
      <p>・<%= link_to task.title, task %><br></p>
      <% end %>
    </div>
  </div>
</div>