    <!--<h5 class="modal-title"></h5>-->

<div class="title">
  <h4>タスク詳細画面</h4>
</div>

<div class= "container" >
  <div class="row">
    <div class="col-md-6">
        <div class="modal-body task-show">
          <div class="form-group">
            <%= label :title, "タイトル", class:"form-title"%> : <%= @task.title %>
          </div>
          <div class="form-group">
            <%= label :details, "詳細", class:"form-title"%> : <%= @task.details %>
          </div>
          <div class="form-group">
            <%= label :start_date, :end_date, "期間", class:"form-title"%> : <%= "#{@task.start_date}" + "～" + "#{@task.end_date}" %>
          </div>
          <div class="form-group">
           <%= label :remind_at, "リマインド", class:"form-title"%> : <%= @task.remind_at %>
          </div>
          <div class="form-group">
            <%= label :priority, "優先度", class:"form-title"%> : <%= @task.priority %>
          </div>
          <div class="form-group">
            <%= label :status, "進捗状況", class:"form-title"%> : <%= @task.status %>
          </div>

          <%= render "tasks/label-show" %>
          <br>
          <br>
          <% if @task.user == current_user %>
            <div class= "task-details-buttons">
              <!--　編集画面へ遷移するボタン-->
              <%= link_to edit_task_path(@task), class: "btn-style" do %><i class="fas fa-edit fa-2x"></i><% end %>
              <span>|</span>
              <!--戻るボタン-->
              <%= link_to tasks_path, class: "btn-style-delete" do %><i class="fas fa-step-backward fa-2x"></i><% end %>
            </div>
          <% end %>
        </div>
      </div>
  </div>
</div>

