<div class="title">
  <!--ユーザー詳細画面-->
  <h4>マイページ</h4>
</div>
<div class='container'>
  <div class='row'>
    <div class="col-sm-12 col-md-8 col-lg-5 px-5 px-sm-0 mx-auto">
      <table>
        <tr><%= attachment_image_tag @user, :profile_image, fallback: "no-image-icon.jpg", size:"100x100"%></tr>
        <tr>
          <th>名前</th>
          <th><%= @user.name %></th>
        </tr>
        <tr>
          <th>紹介</th>
          <th><%= @user.introduction %></th>
        </tr>
      </table>
      <div>
        <%= link_to "編集", edit_user_path(@user), class: "btn btn-success" %>
      </div>
      <br>
      <br>
      <!--< %= render "routine_tasks/index", routine_tasks: @routine_tasks %>-->
      <!--<h5>ルーチンタスク</h5>-->
      <%= link_to "ルーチンタスクの新規追加と一覧画面へ", routine_tasks_path(@user), class: "btn btn-success"  %>
    </div>
  </div>
</div>





