<!--ユーザー詳細画面-->
<div class="title">
  <h4>マイページ</h4>
</div>
<div class='container'>
  <div class='row'>
    <!--<div class="col-sm-12 col-md-8 col-lg-5 px-5 px-sm-0 mx-auto">-->
    <div class="offset-2 col-sm-12 col-md-6 col-lg-4">
      <div class="users">
        <%= attachment_image_tag @user, :profile_image, fallback: "person01.jpg", size:"200x200" %>
          <div class="user-show">
            <div class='user-name'>
              <h5>名前：</h5>
              <h5><%= @user.name %></h5>
            </div>
            <div class='user-introduction'>
              <h5>紹介：</h5>
              <h5><%= @user.introduction %></h5>
            </div>
          </div>
      </div>
      <div>
        <%= link_to "編集", edit_user_path(@user), class: "btn btn-success btn-sm" %>
      </div>
    </div>
    <br>

    <div class="col-lg-5 my-3">
    <h5>ここにルーチンタスクもしくは<br>小さな習慣を追加して下さい</h5>
      <div class='container'>
        <div class='row'>
          <div class="my-5">
            <table>
              <div class="routine_form">
                <%= form_with model: @routine_task, url:routine_tasks_path(@routine_task.id), local: true do |f| %>
                  <th width=200px><%= f.text_field :name %></th>
                  <th><%= f.submit "追加", class: "btn btn-success btn-sm"%></th>
                <% end %>
              </div>
            </table>
          </div>
        </div>
      </div>
      <h5>ルーチンタスク数：<%= @routine_tasks.count %> <i class="fas fa-thumbtack"></i></h5>
      <br>
      <div class="routine_list my-daily-task">
        <table class="table">
          <% @routine_tasks.each do |routine_task| %>
            <tr>
              <td><strong><%= routine_task.name %></strong></td>
              <td><% if routine_task.user == current_user %></td>
                <div id="destroy-button">
                  <td>
                    <%= link_to routine_task_path(routine_task), method: :delete, data: { confirm: '本当に消しますか？' } do %>
                      <h7 style="color: #e65050;">削除</h7>
                      <i class="fas fa-trash-alt fa-1x"></i>
                    <% end %>
                  </td>
                </div>
            	<% end %>
            </tr>
          <% end %>
        </table>
      </div>
    </div>
  </div>
</div>





