
<div class='daily-tasks container px-5'>
  <h4 class="my-5">新規ルーチンタスクフォーム</h4>
  <!--< %= render 'layouts/error_messages', resource: @routine_task %>-->
  <div class='row'>
    <div class='col-8'>
      <!--<　%= render "routine", routine_tasks: @routine_tasks %>-->
      <div class="my-5">
        <%= form_with model: @routine_task, url:routine_tasks_path(@routine_task.id), local: true do |f| %>
          <%= f.text_field :name %>
          <%= f.submit "ルーチンタスク追加", class: "btn btn-success"%>
        <% end %>
      </div>
      <!--< %= render "layouts/routine_info", routine_tasks: @routine_tasks %>-->
    </div>
  </div>
</div>
<h5>ルーチンタスク（<%= routine_tasks.count %>）<i class="fas fa-thumbtack"></i></h5>
<div class="routine_list my-daily-task">
  <table class="table">
    <% @routine_tasks.each do |routine_task| %>
      <tr>
        <td>
          <span>
            <%= routine_task.name %>
          </span>
          <% if routine_task.user == current_user %>
          <span>
            <button type="button" class="btn btn-outline-primary mt-1"><%= link_to "編集" ,edit_routine_task_path(routine_task.id) %></button>
            <button type="button" class="btn btn-outline-danger mt-1"><%= link_to "削除" ,routine_task_path(routine_task), method: :delete, data: { confirm: '本当に消しますか？' } %></button>
              <!--<i class="far fa-trash-alt mx-2" style="color: gray;"></i>-->
          	<!--< % end %>-->
        	</span>
        	<% end %>
        </td>
      </tr>
    <% end %>
  </table>
</div>