<div class="title">
  <h4>新規ルーチンタスク</h4>
</div>
<div class='container px-5'>
  <!--< %= render 'layouts/error_messages', resource: @routine_task %>-->
  <div class='row'>
    <div class='col-8'>
      <!--<　%= render "routine", routine_tasks: @routine_tasks %>-->
      <div class="my-5">
        <%= form_with model: @routine_task, url:routine_tasks_path(@routine_task.id), local: true do |f| %>
          <%= f.text_field :name %>
          <%= f.submit "追加", class: "btn btn-success"%>
        <% end %>
      </div>
      <!--< %= render "layouts/routine_info", routine_tasks: @routine_tasks %>-->
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-6">
    <h5>ルーチンタスク数：<%= @routine_tasks.count %> <i class="fas fa-thumbtack"></i></h5>
      <div class="routine_list my-daily-task">
        <table class="table">
          <% @routine_tasks.each do |routine_task| %>
            <tr>
                  <td><strong><%= routine_task.name %></strong></td>
                  <td><% if routine_task.user == current_user %></td>
                  <!--　編集画面へ遷移するボタン　-->
                  <td><%= link_to edit_routine_task_path(routine_task.id) do %><i class="fas fa-edit fa-2x"></i><% end %></td>
                  <!--　削除ボタン　-->
                  <td><%= link_to routine_task_path(routine_task), method: :delete, data: { confirm: '本当に消しますか？' } do %><i class="fas fa-trash-alt fa-2x"></i><% end %></td>
                    <!--<i class="far fa-trash-alt mx-2" style="color: gray;"></i>-->
                	<!--< % end %>-->
              	<% end %>
            </tr>
          <% end %>
        </table>
      </div>
    </div>
  </div>
</div>