<!DOCTYPE html>
<html>
  <head>
    <title>TodoManager</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <!--Font Awesomeã®kit-->
    <script src="https://kit.fontawesome.com/c438d690f4.js" crossorigin="anonymous"></script>

    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Noto+Serif+JP|Open+Sans&display=swap" rel="stylesheet">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <main>
    <%= render "layouts/header" %>

    <%= yield %>
    </main>
  </body>
  <%= render "layouts/footer" %>
</html>
